<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Einzelticket</title>
</head>
<body>
    <div th:replace="fragments :: header">   </div>

    <h1>Einzeltickets</h1>

    <form>
        <div th:replace="shops/shopFragments :: strecke"></div>
        <input type="number" id="numTickets">
        <select >
            <option th:each="op : ${T(ostbahn.Entity.TicketOption).values()}" th:value="${op}" th:text="${op}"></option>
        </select>
    </form>
</body>
</html>